.flightItemOuter {
    position: relative;
    display: block;
    min-width: 400px;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 12px;
    background-color: var(--bg-element-color);
    line-height: 1.25em;
}

.flightItemLeftView {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    /*border-right: 1px solid var(--border-color);*/
}

.flightItemRightView {
    display: block;
    /*width: 30%;*/
    box-sizing: border-box;
    vertical-align: middle;
    text-align: right;
}

.flightItemItineraryView {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px dashed var(--border-color);
}

.flightTotalDuration {
}

.flightTotalDurationText {
    margin-right: 6px;
    opacity: 0.5;
}

.flightDetails {
    margin-top: 12px;
}

.flightCarrier,
.flightTime,
.flightDuration {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.flightCarrier {
    width: 20%;
}

.flightTime {
    width: 55%;
}

.flightDuration {
    width: 25%;
}

.flightCarrierCode {
    /*font-size: x-large;*/
    color: hotpink;
    font-weight: bold;
}

.flightCarrierLogo {
    width: 32px;
}

.flightCarrierName {
    font-size: smaller;
    /*opacity: 0.5;*/
}

.flightTimeHour {
    font-weight: bold;
}

.flightPlace {
    font-size: smaller;
}

.flightDuration {
    display: inline-block;
    box-sizing: border-box;
    /*font-weight: bold;*/
    text-align: right;
}

.flightPrice {
    font-weight: bold;
    font-size: 1.2em;
    /*color: var(--accent-color);*/
}

.flightIcon {
    margin: 0 8px;
    vertical-align: middle;
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .flightItemOuter {
        min-width: unset;
    }
}