.travelPage {
    position: relative;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    /*background: var(--background--color);*/
    /*border-left: 1px solid var(--border-color);*/
    /*border-right: 1px solid var(--border-color);*/
    /*box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);*/
}

.headerContainer {
    position: fixed;
    top: 0;
    height: var(--header-height);
    left: 0;
    right: 0;
    background-color: var(--background--color);
    border-bottom: 1px solid rgba(100, 100, 100, 0.2);
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
}

.toolbarContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*width: 50%;*/
    text-align: center;
}

.toolbarButton {
    position: relative;
    font-size: 1.8em;
}

.favoriteNumText {
    position: absolute;
    bottom: 0;
    right: -6px;
    text-align: center;
    color: white;
    font-size: 0.5em;
    background-color: crimson;
    padding: 0 6px;
    border-radius: 12px;
}

.mainContent {
    position: absolute;
    top: var(--header-height);
    bottom: 0;
    left: 0;
    right: 0;
}

.chatContainer {
    position: absolute;
    top: 0;
    bottom: var(--input-height);
    left: 0;
    right: 0;
    overflow: auto; /* enable scrollbar */
    scrollbar-color: var(--border-color) var(--background--color);
}

.inputContainer,
.inputContainer__float {
    position: absolute;
    bottom: 0;
    height: var(--input-height);
    left: 0;
    right: 0;
}

.inputContainer__float {
    transform: translateY(-50vh);
}

.headerContainer,
.chatContainer,
.inputContainer,
.toolbarContainer {
    padding: var(--spacing);
    box-sizing: border-box;
}


/* Header */
.headerIcon {
    vertical-align: middle; /*can giua chieu doc*/
    height: 32px;
}

.headerTitle {
    vertical-align: middle;
    /*margin: tu border/vien ra ngoai
      padding: tu border vao trong*/
    margin-left: 12px;
    font-size: 14pt;
    font-weight: 700; /* in dam chu */
    text-transform: uppercase;
}

/* Chat */
.chatItem {
    margin: 12px 0;
}

.chatItemInner {
    /*resize based on its content*/
    display: inline-block;
    max-width: 60%;
    padding: 12px;
    border-radius: 8px;
    line-height: 24px;
}

.chatItem__user {
    text-align: right;
}

.chatItem__server {
    text-align: left;
}

.chatItem__user .chatItemInner {
    background-color: var(--bg-element-color);
}

.chatIcon {
    margin-top: 4px;
    vertical-align: top; /*can giua chieu doc*/
    height: 36px;
}


/*Input*/
.messageTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -48px;
    text-align: center;
}

.messageTextbox {
    position: absolute;
    font-size: 14pt;
    top: 8px;
    bottom: 8px;
    left: 12px;
    right: 54px;
    padding: 0 12px;
    background-color: var(--bg-element-color);
    border-radius: 8px;
}

/*
hover: di chuot sang mau
active: click vao xuat hien mau
focus: chuot o dau no sang mau luon
*/
.messageTextbox:active, .messageTextbox:focus {
}

.sendButton {
    position: absolute;
    top: 10px;
    bottom: 16px;
    right: 12px;
    font-size: 24pt;
}

.processingGif {
    height: 48px;
    margin-left: 12px;
    border-radius: 12px;
}

/* FAVORITES */

.sidebarContainer,
.sidebarContainer__collapsed {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: var(--sidebar-width);
    max-width: 100vw;
    padding: var(--spacing);
    box-sizing: border-box;
    background-color: var(--background--color);
    border-left: 1px solid rgba(100, 100, 100, 0.2);
    box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.sidebarContainer__collapsed {
    transform: translateX(var(--sidebar-width));
}

.sidebarCloseButton {
    position: absolute;
    left: 12px;
    font-size: 1.8em;
}

.favoritesContainer {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--spacing);
    overflow: auto; /* enable scrollbar */
    scrollbar-color: var(--border-color) var(--background--color);
}

.totalPriceContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-color);
    text-align: right;
    padding: 10px 12px;
}

.totalPriceText {
    margin-right: 8px;
    vertical-align: middle;
    color: var(--dim-foreground-color);
}

.totalPrice {
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--accent-color);
}


@media screen and (max-width: 768px) {
    .toolbarContainer {
        text-align: right;
    }
    .chatItemInner {
        max-width: unset;
    }
}